<!DOCTYPE html>
<html>
    <head>
        <title>staffstuff</title>
    </head>
    <body style="text-align: center">
        <h1>Staffing App Edit</h1>
	  <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.subjectID.label }} {{ form.subjectID}}
                <br>
                <!-- form.submit is a button -->
		{{ form.submit }}   <span><a href="{{ url_for('addsubjects') }}">Add a Subject</a></span>
            </form>
        </div>
	<div class='staff'>
	<table>
		<tr>
			<th>Name</th>
			<th>Subject</th>
		</tr>
	{% for staff in staffs %}
	<tr>
		<td>{{staff.staff_name}}</td><td> {{staff.subject_idbr.subject_name}}</td>
	</tr>
	{% endfor %}
	</table>
	</div>
    </body>
</html>
