<!DOCTYPE html>
<html>
    <head>
        <title>staffstuff</title>
    </head>
    <body style="text-align: center">
        <h1>staffing</h1>
	  <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.subjectID.label }} {{ form.subjectID}}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
        </div>
    </body>
</html>
